<!-- <h2>User Name: {{request.user}}</h2>
<hr>

<h1>My Task</h1>
<a href="{% url 'add_task' %}">Add Task</a>
<table>
    <th>
        All Task
    </th>

    {% for task in tasks %}
    <tr>


    </tr>

    <tr>
        <td>
            {{task.title}}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a href="{% url 'task' task.id %}"> details</a>
        </td>
    </tr>
    {% empty %}
    <h2>No task for now</h2>
    {% endfor %}

</table> -->

<h2>User Name: {{ request.user }}</h2>
<hr>

<h1>My Task</h1>
<a href="{% url 'add_task' %}">Add Task</a>

{% if tasks %}
<table>
    <th>
        All Tasks
    </th>
    <th style="padding-bottom: 50px;"></th>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td style="padding-left: 50px;"><a href="{% url 'task' task.id %}">Details</a></td>

        <!-- <td><a href="{% url 'task' task.id %}">Details</a></td> -->
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>No tasks for you</h2>
{% endif %}