<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Bootstrap Navbar</title>
    <style>
        nav_clr {
            background-color: #2445a7;
            color: #2e4a9e;

        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg pb-3" style="background-color: #4c65af;">
        <div class="container">
            {% if request.user.is_authenticated %}
            <!-- Navbar brand/logo -->
            <a class="navbar-brand" href="#" style="color: white;">Hello {{ request.user }}!</a>

            <!-- Navbar toggler for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-custom-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-custom-link" href="{% url 'allTask' %}">Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-custom-link" href="#">Team</a>
                    </li>
                </ul>
            </div>

            <!-- User information and logout button aligned to the right -->
            <div class="navbar-nav ms-auto">
                <form id="logoutForm" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-light" type="submit">Logout</button>
                </form>
            </div>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <style>
        .nav-custom-link {
            color: #ffffff !important;
            /* Change link color to white */
            font-weight: bold;
            /* Set the font weight to bold */
        }
    </style>




    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>